.container {
  display: flex;
  min-height: 100vh;
  background-color: #f7fafc; /* Cor de fundo clara */
}

.content {
  margin-left: 220px; /* Margem à esquerda para compensar a largura do Nav */
  padding: 20px;
  width: calc(100% - 220px); /* Largura total menos a margem do Nav */
}

.content h1 {
  font-size: 2rem;
  color: #2d3748; /* Cor do título */
}

.content p {
  font-size: 1.2rem;
  color: #4a5568; /* Cor do texto */
}
