/* dashboard.module.css */
.container {
    background-color: white; /* Ajuste conforme necessário */
    color: black; /* Ajuste conforme necessário */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  